  /**
  Default
  **/
  .page {
    border-radius: 100%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: .875em;
    font-family: inherit;
    line-height: 2em;
  }
  .page {
    display: inline-block;
    padding: 0px 1px;
    margin: 0px 9px;
    text-decoration: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0;
    margin: auto 5px;
    text-align: center;
    position: relative;
    border: 2px solid #fff;
  }
  .is-active {
    display: inline-block;
    padding: 0px 1px;
    margin: 0px 9px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #0C4CA3;
    color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: auto 5px;
    text-align: center;
    position: relative;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  .pageElli {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    
  }
  
  .default span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    margin: auto 5px;
  }
  
  .default span.is-active {
    border: 3px solid #2ecc71;
    border-radius: 100%;
  }

  li.page.disabled {
    cursor: default;
    pointer-events: none;
    color: #999999;
  }