// row style
@for $colnum from 1 through 12 {
  .#{$colnum}-columns {
    display: grid;
    grid-template-columns: repeat(#{$colnum}, 1fr);
  }
}

@for $rowgap from 1 to 100 {
  .row-gap-#{$rowgap} {
    grid-row-gap: #{$rowgap}px;
  }
  .col-gap-#{$rowgap} {
    grid-column-gap: #{$rowgap}px;
  }
}
