.dialog-action {
  padding: 16px 22px 22px 22px;
  display: flex;
  align-items: center;
  &.right {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.left {
    justify-content: flex-start;
  }
}

.mr16 {
  margin-right: 16px;
}
