.button {
  border: none;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 2px;
  line-height: 1.4;
  position: relative;
  font-weight: 500;
  overflow: hidden;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  .ripple_container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;

    .ripple {
      background-color: rgba(0, 0, 0, 0.2);
      pointer-events: none;
      z-index: 10;
      position: absolute;
      border-radius: 50%;
      width: 0;
      height: 0;
      transform-origin: center;
      opacity: 0;
      animation: fadeOut 0.4s cubic-bezier(0.53, 0.24, 0.5, 0.72);
    }
  }
}

.small {
  height: 28px;
  min-width: 50px;
  padding: 0 12.4444444444px;
}

.medium {
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
}

.large {
  height: 44px;
  min-width: 78px;
  padding: 0 19.5555555556px;
}

.outlined {
  background-color: white !important;
  border: 1px solid currentColor;
}

.contained {
  color: white;
}

.round {
  border-radius: 50%;
}

.rounded {
  border-radius: 28px;
}

.flat {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.87);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(0);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
  }

  40% {
    opacity: 0.7;
  }

  70% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
    transform: scale(13);
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
  }
}
