.container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #E20316;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  padding: 4px 6px;
  transform: translate(80%, -80%);
  font-size: 12px;

  &.round {
    border-radius: 50%;
    padding: 0;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.primary {
  .badge {
    background-color: #165c9a;
  }
}

.secondary {
  .badge {
    background-color: #E20316;
  }
}
