.product-item {
  padding: 10px;
  margin: auto;
  cursor: pointer;
  background: #fff;
  width: 100%;
  height: 100%;
  .gift {
    position: absolute;
    top: 4px;
    left: 6px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    z-index: 10;
  }
  .image {
    position: relative;
    padding-top: 100%;
    background: #fff;
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 5px;
    }
  }
  .discount-tag {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
  .status {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .name {
    margin-top: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }
  .shipping-info {
    color: #53c305;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list-view {
  display: flex;
  max-width: 600px;
  .product-image {
    width: 30%;
  }
  .product-content {
    margin-left: 10px;
    flex: 1;
  }
}

.grid-view {
  max-width: 200px;
}
