.seller-bar {
  position: relative;
  .logo {
    position: relative;
    margin-left: 16px;
    .image {
      border: 1px solid #e0e0e0;
      border-radius: 50%;
    }
    .verify-icon {
      position: absolute;
      bottom: -3px;
      right: -2px;
      width: 20px;
      z-index: 1;
      height: 20px;
    }
  }
  .name {
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info {
    font-size: 12px;
    color: #848788;
    margin-top: 2px;
  }
}
