.list-item {
  display: inline-flex;
  width: 100%;
  padding: 12px 0;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  cursor: pointer;
}
.list-item:hover {
  background-color: #f5f5f5;
}
