@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Regular.ttf') format('truetype');
}

.detail {
  padding: 0 24px;
  visibility: hidden;
  height: 0;
  margin: 0;
  font-family: Roboto, 'sans-serif';
}
