ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #fff;
  color: black;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  text-decoration: none;
}
.clickable-item {
  cursor: pointer;
}
a {
  text-decoration: none;
}
