.header-block {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 0 16px;
  div {
    flex: 1;
  }
  .title {
    font-weight: 500;
  }
  .view-more {
    display: flex;
    align-items: center;
  }
}
