.title {
  font-weight: 600;
  font-size: 14px;
  font-family: Roboto, 'sans-serif';
  color: black;
  padding: 22px 22px 16px 22px;
  text-transform: uppercase;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
