.nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #848788;
  height: 100%;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  flex: 1;

  i {
    font-size: 24px;
    margin-bottom: 4px;
  }

  .label {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
  }

  &.hide-label {
    .label {
      position: absolute;
      bottom: -9%;
      opacity: 0;
      visibility: hidden;
      font-size: 6px;
    }
  }
  &.active {
    transform: translateY(-8px);
    .label {
      opacity: 1;
      visibility: initial;
      font-size: 13px;
      line-height: 1.6;
    }
  }
}
