.horizontal-product-list {
  background: #fff;
}

.title {
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p6 {
  padding: 6px;
}

.p10 {
  padding: 10px;
}

.fs14 {
  font-size: 14px;
}
