.title {
  color: #848788;
  text-transform: uppercase;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
.fs14 {
  font-size: 14px;
}
