.divider {
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.middle {
  margin-left: 16px;
  margin-right: 16px;
}
.vertical {
  margin: 0px 4px;
  height: auto;
  width: 1px;
  align-self: stretch;
}
.item {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: flex-start;
  text-decoration: none;
}
.item-midle {
  padding: 10px 16px;
}
.item-flex {
  width: fit-content;
  display: flex;
  flex: 1 1;
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 30px;
  padding: 0 10px;
  align-items: center;
}
.story-middle {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: fit-content;
}
