.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: max-content;

  .label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 3px;
    font-size: 14px;
  }

  input {
    display: none;
  }

  i {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
  }
}
