.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: max-content;

  .label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 3px;
    font-size: 14px;
  }

  input {
    display: none;
  }

  i {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
  }
}

.primary {
  color: #165c9a !important;
}

.secondary {
  color: rgb(219, 3, 22) !important;
}

.large {
  width: 28px;
  height: 28px;
  .label {
    font-size: 16px;
  }

  i {
    font-size: 28px;
  }
}

.medium {
  width: 24px;
  height: 24px;
  .label {
    font-size: 15px;
  }

  i {
    font-size: 24px;
  }
}


.small {
  width: 20px;
  height: 20px;
  .label {
    font-size: 13px;
  }
  i {
    font-size: 20px;
  }
}
