.bottom_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  padding: 8px 16px;
  height: 60px;
  box-shadow: 0.5rem 0 1rem 0 rgba(0, 0, 0, 0.08);

  .nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #848788;
    flex-basis: 20%;
    height: 100%;
    position: relative;
    transition: transform 0.2s ease-out;

    i {
      margin-bottom: 2px;
      font-size: 24px;
    }

    .label {
      font-size: 8px;
      visibility: hidden;
      opacity: 0;
      transition: font-size 0.2s ease-out, opacity 0.2s ease-out;
      position: absolute;
      bottom: 0;
      transform: translateY(8px);
    }

    &.active {
      .label {
        visibility: initial;
        font-size: 12px;
        opacity: 1;
        line-height: 1.6;
      }
    }

    &.showLabels.active {
      transform: translateY(-8px);
    }
  }

  &.primary .nav_item.active {
    color: #1669a8;
  }

  &.secondary .nav_item.active {
    color: rgb(224, 3, 21);
  }
}
