.category-item {
  text-align: center;
  .category-icon {
    margin-bottom: 8px;
  }
  .category-name {
    font-size: 12px;
    width: 65px;
    margin: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #333;
    height: 28px;
    line-height: 1.2;
  }
}
