.chip {
  display: inline-flex;
  margin: 4px;
  font-size: 14px;
  line-height: 29px;
  height: 30px;
  border-radius: 999px;
  width: fit-content;
  text-align: center;
  background: #e0e0e0;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  outline: 0;
  white-space: nowrap;
  border: none;
  padding: 0 12px;
  cursor: pointer;
}
.outlined {
  border: 0.5px solid #e0e0e0 !important;
  font-weight: 400;
}
.btn-delete {
  height: 21px;
  width: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.white-background {
  background-color: #fff !important;
}
