.radio {
  display: flex;
  flex: 1 1;
  width: fit-content;
}
.btn-radio {
  font-size: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.radio-label {
  font-family: Roboto, 'sans-serif';
  margin-left: 10px;
  position: unset;
  line-height: 24px;
  cursor: pointer;
}
