@import 'vns-icons';

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  padding: 32px;
}

.mr16 {
  margin-right: 16px;
}

.w100 {
  width: 100%;
}

.p0 {
  padding: 0;
}
.radius-6 {
  border-radius: 6px !important;
}

.bold {
  font-weight: 700;
}

.flex-center {
  display: flex;
  align-items: center;
}
.fs20 {
  font-size: 20px;
}

.p16 {
  padding: 16px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-one-row {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.relative {
  position: relative;
}
